<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Day15 demo | automate-with-ansible</title>
  </head>
  <style type="text/css" media="all">
    body {
      font-size: x-large;
    }
  </style>
  <body>
    <p>
<pre>[ {{ username }}@automate-with-ansible ~ ]$ hostname
automate-with-ansible.drx.tw
[ {{ username }}@automate-with-ansible ~ ]$ cowsay "This is a ansible-playbook demo for automate-with-ansible at 2016/12/15."
 _____________________________________
/ This is a ansible-playbook demo for \
\ automate-with-ansible at 2016/12/15./
 -------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
[ {{ username }}@automate-with-ansible ~ ]$
[ {{ username }}@automate-with-ansible ~ ]$
[ {{ username }}@automate-with-ansible ~ ]$ cat .profile
- {{ mail }}
- {{ blog }}</pre>
    </p>
  </body>
</html>
